<div class="register-container">
  <img src="logo.png" alt="Logo" class="logo" />

  <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2 class="title">Register</h2>

    <div *ngIf="registerError" class="error-message">
      {{ registerError }}
    </div>

    <div>
      <label for="name">Name *</label>
      <input type="text" placeholder="name" [(ngModel)]="name" name="name" required #nameInput="ngModel" />
    </div>

    <div>
      <label for="birthday">Date of birth *</label>
      <input type="date" placeholder="birthday" [(ngModel)]="birthday" name="birthday" required #birthdayInput="ngModel" />
    </div>

    <div>
      <label for="username">Username *</label>
      <input type="text" placeholder="username" [(ngModel)]="username" name="username" required #usernameInput="ngModel" />
    </div>

    <div>
      <label for="email">Email *</label>
      <input type="email" placeholder="email" [(ngModel)]="email" name="email" required #emailInput="ngModel" />
    </div>

    <div for="password">
      <label>Password *</label>
      <input type="password" placeholder="password" [(ngModel)]="password" name="password" required #passwordInput="ngModel" />
    </div>

    <button type="submit" [disabled]="!registerForm.valid">
      Sign Up
    </button>

    <p class="login-redirect">
      Already registered?
      <a routerLink="/login">Log in here</a>
    </p>
  </form>
</div>