<main class="h-full items-center overflow-hidden flex flex-col">
  <div class="h-full w-full justify-center flex-1 overflow-hidden px-10 py-10 sm:py-5 sm:px-5" [appTimeMachineListenerDirective]="applyVirtualNowToCalendar.bind(this)">
    <full-calendar #fc *ngIf="calendarVisible" [options]="calendarOptions"></full-calendar>
  </div>

  <div class="calendar-overlay" *ngIf="showCreate">
    <div class="calendar-create-wrapper">
      <button class="close-button" (click)="closeCreate()">×</button>
      <app-calendar-create [selectedDate]="selectedDate" (chiudi)="closeCreate()" (activityCreated)="onActivityCreated()"></app-calendar-create>
    </div>
  </div>

  <div class="calendar-overlay" *ngIf="showInfo">
    <div class="calendar-create-wrapper">
      <button class="close-button" (click)="closeInfo()">×</button>
      <app-calendar-info [activity]="selectedActivity" [calendarEvent]="selectedEvent" (close)="closeInfo()" (delete)="deleteActivity($event)" (modify)="modifyActivity($event)"></app-calendar-info>
    </div>
  </div>
</main>