<!-- src/app/components/home/home-view/home-view.component.html -->
<main class="home">

    <!-- Menu cards -->
    <section class="menu-cards">
        <div class="menu-grid">
            <app-home-box *ngFor="let box of boxes" class="menu-card" [title]="box.title" [description]="box.description" [link]="box.link" [iconClass]="box.iconClass">
            </app-home-box>
        </div>
    </section>

    <!-- Preview area: calendar, notes, stats -->
    <section class="preview-area">
        <div class="preview-grid">

            <!-- LEFT (wide) -->
            <div class="left-col">
                <div class="preview-slot slot-large" cdkDropList id="left" #leftList="cdkDropList" [cdkDropListData]="leftSlot" [cdkDropListConnectedTo]="[rightTopList, rightBottomList]" (cdkDropListDropped)="onDrop($event)">
                    <ng-container *ngFor="let id of leftSlot">
                        <div cdkDrag class="tile-drag">
                            <div class="slot-card">
                                <div class="slot-header">
                                    <span *ngIf="id==='calendar'">CALENDAR</span>
                                    <span *ngIf="id==='notes'">NOTES</span>
                                    <span *ngIf="id==='stats'">STATS</span>
                                    <span *ngIf="id==='todos'">TO DO</span>
                                </div>
                                <div class="slot-body">
                                    <ng-container [ngSwitch]="id">
                                        <app-calendar *ngSwitchCase="'calendar'" />
                                        <app-notes *ngSwitchCase="'notes'" />
                                        <app-stats *ngSwitchCase="'stats'" />
                                        <app-todos *ngSwitchCase="'todos'" />
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- RIGHT (two stacked slots) -->
            <div class="right-col">

                <div class="preview-slot slot-small" cdkDropList id="rightTop" #rightTopList="cdkDropList" [cdkDropListData]="rightTopSlot" [cdkDropListConnectedTo]="[leftList, rightBottomList]" (cdkDropListDropped)="onDrop($event)">
                    <ng-container *ngFor="let id of rightTopSlot">
                        <div cdkDrag class="tile-drag">
                            <div class="slot-card">
                                <div class="slot-header">
                                    <span *ngIf="id==='calendar'">CALENDAR</span>
                                    <span *ngIf="id==='notes'">NOTES</span>
                                    <span *ngIf="id==='stats'">STATS</span>
                                    <span *ngIf="id==='todos'">TO DO</span>
                                </div>
                                <div class="slot-body">
                                    <ng-container [ngSwitch]="id">
                                        <app-calendar *ngSwitchCase="'calendar'" />
                                        <app-notes *ngSwitchCase="'notes'" />
                                        <app-stats *ngSwitchCase="'stats'" />
                                        <app-todos *ngSwitchCase="'todos'" />
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div class="preview-slot slot-small" cdkDropList id="rightBottom" #rightBottomList="cdkDropList" [cdkDropListData]="rightBottomSlot" [cdkDropListConnectedTo]="[leftList, rightTopList]" (cdkDropListDropped)="onDrop($event)">
                    <ng-container *ngFor="let id of rightBottomSlot">
                        <div cdkDrag class="tile-drag">
                            <div class="slot-card">
                                <div class="slot-header">
                                    <span *ngIf="id==='calendar'">CALENDAR</span>
                                    <span *ngIf="id==='notes'">NOTES</span>
                                    <span *ngIf="id==='stats'">STATS</span>
                                    <span *ngIf="id==='todos'">TO DO</span>
                                </div>
                                <div class="slot-body">
                                    <ng-container [ngSwitch]="id">
                                        <app-calendar *ngSwitchCase="'calendar'" />
                                        <app-notes *ngSwitchCase="'notes'" />
                                        <app-stats *ngSwitchCase="'stats'" />
                                        <app-todos *ngSwitchCase="'todos'" />
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </section>

</main>